{{#each fridge as |fridge| }}
<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2>{{fridge.name}}</h2>
  </div>
</div>
{{/each}}
<form class = "add-item" >
<div class="form-group">
    <label for="item-add">Item:</label>
    <input class="form-input" type="text" id="item-add" />
</div>
</form>

<script src="/additem.js"></script>