{{#each Fridge as |Fridge| }}
 <input type="checkbox" id="ingredient{{Fridge.id}}" name="ingredient{{Fridge.id}}" value="ingredient{{Fridge.id}}">
  <label for="vehicle1"> I have a bike</label><br>
{{/each}}
  {{!-- const fridgeData = await Fridge.findAll({
      attributes: { exclude: ['id', 'name', 'email'] },
      order: [['name', 'ASC']],
    }); --}}